<form method="post" enctype="multipart/form-data">
    <input type=file name=file>
    <input type=submit value=Manga>
    <input type=submit value=Simpsons>
</form>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="padding-left:200px; padding-right:200px;">
              <div class="carousel-inner" style="min-height:250px;">
                <div class="carousel-item active">
                     <div class="container">
                          <div class="row">
                                <div class="col-sm">
                                    <img class="d-block w-100" src="static/dustin2.jpg" alt="First slide" class="img-fluid" style="border-radius: 50%; max-height:100px; max-width:100px; display: block; margin-left: auto; margin-right: auto;">
                                    <p style="text-align:center; font-size:12px; margin-top:10px;">"Its ok...I guess."</p>
                                </div>
                                <div class="col-sm">
                                    <img class="d-block w-100" src="static/yuko_c.jpg" alt="First slide" class="img-fluid" style="border-radius: 50%; max-height:100px; max-width:100px; display: block; margin-left: auto; margin-right: auto;">
                                    <p style="text-align:center; font-size:12px; margin-top:10px;">"Oh my god, my eyes!"</p>
                                </div>
                                <div class="col-sm">
                                    <img class="d-block w-100" src="static/viktor_c.jpg" alt="First slide" class="img-fluid" style="border-radius: 50%; max-height:100px; max-width:100px; display: block; margin-left: auto; margin-right: auto;">
                                    <p style="text-align:center; font-size:12px; margin-top:10px;">Perfection.</p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="carousel-item">
                   <div class="container">
                  <div class="row">
                        <div class="col-sm">
                            <img class="d-block w-100" src="static/goldblum.png" alt="First slide" class="img-fluid" style="border-radius: 50%; max-height:100px; max-width:100px; display: block; margin-left: auto; margin-right: auto; min-width=100px; min-height:100px;">
                            <p style="text-align:center; font-size:12px; margin-top:10px;">"Your scientists were so preoccupied with whether or not they could, they didn’t stop to think if they should."</p>
                        </div>
                        <div class="col-sm">
                            <img class="d-block w-100" src="static/musk.jpg" alt="First slide" class="img-fluid" style="border-radius: 50%; max-height:100px; max-width:100px; display: block; margin-left: auto; margin-right: auto; min-width=100px; min-height:100px;">
                            <p style="text-align:center; font-size:12px; margin-top:10px;">"This is the real deal!"</p>
                        </div>
                        <div class="col-sm">
                            <img class="d-block w-100" src="static/bezos.jpg" alt="First slide" class="img-fluid" style="border-radius: 50%; max-height:100px; max-width:100px; display: block; margin-left: auto; margin-right: auto; min-width=100px; min-height:100px;">
                            <p style="text-align:center; font-size:12px; margin-top:10px;">"Cutting Edge."</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                   <div class="container">
                  <div class="row">
                        <div class="col-sm">
                            <img class="d-block w-100" src="static/mit_logo.png" alt="First slide" class="img-fluid" style="border-radius: 50%; max-height:100px; max-width:100px; display: block; margin-left: auto; margin-right: auto; min-width=100px; min-height:100px;">
                            <p style="text-align:center; font-size:12px; margin-top:10px;">"Unbelievable!"</p>
                        </div>
                        <div class="col-sm">
                            <img class="d-block w-100" src="static/forbes-logo.png" alt="First slide" class="img-fluid" style="border-radius: 50%; max-height:100px; max-width:100px; display: block; margin-left: auto; margin-right: auto; min-width=100px; min-height:100px;">
                            <p style="text-align:center; font-size:12px; margin-top:10px;">"Perfect!"</p>
                        </div>
                        <div class="col-sm">
                            <img class="d-block w-100" src="static/caltech.png" alt="First slide" class="img-fluid" style="border-radius: 50%; max-height:100px; max-width:100px; display: block; margin-left: auto; margin-right: auto; min-width=100px; min-height:100px;">
                            <p style="text-align:center; font-size:12px; margin-top:10px;">"For years people thought it was impossible ... until now."</p>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color:black;"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color:black;"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>




                    <div class="carousel-item">
                       <!-- Carousel Item Here -->
                    </div>
                    <div class="carousel-item">
                        <!-- Carousel Item Here -->
                    </div>